body {
    font-size: 12px;
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #000;
}
th, td {
    /*padding: 6px;*/
    height: 25px;
    width: 25px;
    text-align: center;
}
.node-start {
    background: green;
}
.node-end {
    background: red;
}
.node-obstacle {
    background: black;
}
.node-opened {
    background: pink;
}
.node-searched {
    background: orange;
}
.node-shortest {
    background: blue;
}

.graph {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.controls {
    margin-bottom: 15px;
}